<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="cad_dt_dotnet_BlankWebsiteConnectionString" connectionString="Data Source=10.30.11.248;Initial Catalog=spaceTravel;Persist Security Info=True;User ID=sa;Password=library"
     providerName="System.Data.SqlClient" />
    <add name="cd-dt-sql2012_test" connectionString="Data Source=cd-dt-sql2012.clients.nasa.cpwr.corp;Initial Catalog=test;Persist Security Info=True;User ID=dt;Password=dt"
     providerName="System.Data.SqlClient" />
    <add name="cd-dt-sql2012_test2" connectionString="Data Source=cd-dt-sql2012.clients.nasa.cpwr.corp;Initial Catalog=test2;Persist Security Info=True;User ID=dt;Password=dt"
     providerName="System.Data.SqlClient" />
    <add name="dT" connectionString="Data Source=cd-dt-sql2012.clients.nasa.cpwr.corp;Initial Catalog=cd-dt-0506-p_PerformanceWarehouse;Persist Security Info=True;User ID=dt;Password=dt"
     providerName="System.Data.SqlClient" />
    <add name="spaceTravelConnectionString" connectionString="Data Source=10.30.11.248;Initial Catalog=spaceTravel;Persist Security Info=True;User ID=sa;Password=library"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">

      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SalesTaxCalculatorSoap1" />
        <binding name="EastpointeCityCouncilSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cd-dotnet4-2.clients.nasa.cpwr.corp:200/WebServices/SalesTaxCalculator.asmx"
       binding="basicHttpBinding" bindingConfiguration="SalesTaxCalculatorSoap1"
       contract="SalesTaxCalculator.SalesTaxCalculatorSoap" name="SalesTaxCalculatorSoap1" />
      <endpoint address="http://cd-dotnet4-2.clients.nasa.cpwr.corp:200/WebServices/EastpointeCityCouncil.asmx"
       binding="basicHttpBinding" bindingConfiguration="EastpointeCityCouncilSoap"
       contract="EastpointeCityCouncil.EastpointeCityCouncilSoap" name="EastpointeCityCouncilSoap" />
    </client>
  </system.serviceModel>
  
   <!-- START Removes the .aspx extension for all pages. 
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="sans aspx">
         
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
   END Removes the .aspx extension for all pages. -->

</configuration>
